/* Global Sytles */
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

/* Specific Font Sytles */
h1,
h2,
h3,
input,
button {
  font-family: 'Press Start 2P', system-ui;
}

/* Root Element */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #eff6ff;
  gap: 14px;
}

/* Header Styling */
header {
  display: flex;
  align-items: stretch;
}

/* Center Content */
header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

/* Input Styling */
header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

/* Button Styling */
header button {
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
  padding: none;
  outline: none;
  background: white;
}

header button:hover {
  opacity: 0.7;
}

header button:focus,
header input:focus {
 outline: 2px solid #3b82f6; /* Blue focus outline for accessibility */
}

/* Paragraph Styling */
p {
  font-size: 0.9em;
}

/* Main Content */
.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Todo Item Styling */
.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: white;
}

.todoItem p {
  flex: 1;
}

/* Actions Container */
.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}

.actionsContainer button:focus{
  outline: 2px solid #3b82f6; /* Blue focus outline for accessibility */
}

/* Responsive Styling */
@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}